<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
    <link href="/static/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-4">
        <h3>请输入要插入记录的相关信息</h3>
        <form id="form1" name="form1" method="post" action="/add">
            <label>学号： </label>
            <input type="text" name="stu_id"/>

            <p>
                <label>姓名： </label>
                <input type="text" name="stu_name"/>

            </p>
            <p>
                <label>性别：</label>

                <input name="stu_sex" type="radio" value="男" checked="checked"/>
                男

                <input type="radio" name="stu_sex" value="女"/>
                女
                <br/>
            </p>
            <p>
                <label>年龄：
                    <input type="text" name="stu_age"/>
                </label>
            </p>
            <p>
                <label>籍贯：</label>
                <input type="text" name="stu_origin"/>

            </p>
            <p>
                <label>专业：</label>

                <select name="stu_profession">
                    {% for pro in datas -%}
                    <option value='{{pro[0]}}'>{{pro[1]}}</option>
                    {%endfor-%}
                </select>

            </p>
            <p>
                <input class="btn btn-primary" type="submit" name="button" value="提交"/>
                <input type="reset" name="button2" value="重置"/>
                <br/>
            </p>
        </form>
        <p>&nbsp; </p>
    </div>
</div>
</body>
</html>